@font-face {
    font-family: 'Circular Std Book Light';
    src: url("../assets/fonts/CircularStd-Light.otf");
}

@font-face {
    font-family: 'Circular Std Book';
    src: url("../assets/fonts/CircularStd-Book.otf");
}

/* @font-face {
    font-family: 'Circular Std Medium';
    src: url("../assets/fonts/CircularStd-Medium.otf");
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url("../assets/fonts/CircularStd-Bold.otf");
} */

body {
    font-family: Circular Std Book, sans-serif;
    background-position: center 0px;
    margin: 0;
}

.container {
    margin-top: 65px;
    padding-top: 20px;
}

.hidden {
    display: none;
}