header {
    height: 65px;
    padding: 0 40px !important;
}

.main-logo {
    height: 45px
}

.user-logo img {
    height: 100%;
}

.user-logo img:first-child {
    height: 100%;
    opacity: 0.33;
}

.user-logo {
    height: 40px;
    padding: 10px 17px;
    border-radius: 100px;
    border: 1px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    /* width: 200px; */

    /* --box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.3);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow); */
}