* {
    outline: red 0px dashed;
}


/* ######### MAIN CONTAINER */
.container {
    padding: 0;
}

/* ######### INFO CONTAINER */
.info,
.description,
.offers,
.map-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.paragraph,
.description,
.offers,
.rules,
.fix,
.map-container h4 {
    padding: 12px;
}


h4,
h6 {
    margin-top: 20px;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

h6 {
    font-size: 15px;
    font-weight: normal;
}

.image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.info h1 {
    font-size: 32px;
    margin-top: 15px;
}

.postal {
    color: #767676;
    font-size: 15px;
    margin-top: -3px;
    margin-bottom: -8px;
}


/* ########## MAP CONTAINER */
#map { 
    height: 40vh;
    margin-bottom: 5px;
}

/* ######## RULES CONTAINER */
.rules {
    margin-bottom: 50px;
}


/* ######### BOTTOM BAR FIXED */
.fix {
    width: 100%;
    height: 70px;
    background-color: rgb(247, 247, 247);
    z-index: 1000;
}

.fix button {
    float: right;
}

.fix p {
    float: left;
    margin-top: 8px;
}




/* ########### Modal Reserva */
.group {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.img img {
    width: 85px;
    height: 85px;
    border-radius: 15px;
    float: left;
}

.info-container {
    margin-top: 15px;
    margin-left: 10px; 
}

.info-container h1 {
    font-size: 22px;
}

.info-container p {
    margin-bottom: -8px;
}

.right-aligned-content {
    text-align: right;
    color: #767676;
}

.right-aligned-content span {
    display: block;
}


/* ######### DATES AND HOSTS */
.dates-hosts {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}


.dates,
.hosts {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.text-container {
    font-weight: bold;
}


/* ######### PRICE */
.info-price, 
.nights,
.total {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.text{
    font-weight: normal;
}

.number {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.total {
    border-top: 1px solid rgb(28, 28, 28);
}

.total p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}



.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button button {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
}






@media screen and (max-width: 576px) {
    img {
        border-radius: 0;
    }
    .reservation-container {
        display: none;
    }
}



/* ########### TABLET */
@media screen and (min-width: 576px) and (max-width: 992px) {
    img {
        border-radius: 15px;
    }

    .reservation-container {
        display: none;
    }
}



/* ########### PC */
@media screen and (min-width: 993px) {
    .container {
        padding: 100px 100px 0;
    }


    /* CAROUSEL */

    .image {
        display: flex;
        justify-content: space-between;
    }

    .carousel-inner {
        border-radius: 15px;
    }

    .carousel {
        width: 800px;
    }

    .carousel-item img {
        height: 450px;
        width: 800px;
    }
    

    /* CONTAINER RESERVATION */
    .reservation-container {
        margin-left: 20px;
        width: 300px;
        box-shadow: 0 5px 10px #0000004d;
        border-radius: 15px;
        padding: 0 15px 15px 15px;
    }

    .dates-hosts h4,
    .price h4 {
        font-size: 18px;
    }

    .dates {
        font-size: 15px;
    }

    .right-aligned-content {
        font-size: 12px;
    }

    .text-container,
    .text,
    .number {
        font-size: 15px;
    }

    .total p:first-child {
        font-size: 18px;
    }

    .container-button button {
        font-size: 15px;
        margin-top: -5px;
    }



    /* MAP */
    #map {
        height: 50vh;
    }




    /* BOTTOM BAR FIXED */
    .fix {
        display: none;
    }
}
