[sectionid] {
    display: none;
}

.manager-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    gap: 10px;
}

#manager-users-table_wrapper {
    margin-top: 20px;

}

aside {
    background: #eee;
    border-radius: 15px;
}

aside div:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

aside div {
    padding: 15px 20px;
}

aside div:hover {
    background: #ddd;
    cursor: pointer;
}

table {
    margin-top: 20px;
}

section {
    background: #eee;
    border-radius: 15px;
    padding: 15px;

}

#manager-apartments {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

.apartment-image {
    height: 150px;
    object-fit: cover;
}