.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


/* ########### USER CONTAINER */
.user {
    font-size: 30px;
}


/* ######### FORM CONTAINER */
.form-control {
    width: 300px;
}



/* ######### INFORMATION */
.title {
    font-weight: bold;
    font-size: 15px;
}

.info {
    width: 450px;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.info input {
    width: 100%;
    outline: none;
    border: none;
}

.image-input {
    background-image: url(../assets/svg/pencil.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
}


.btn {
    width: 200px;
    left: 50%;
    transform: translate(70%);
}


@media screen and (max-width: 470px) {
    .info {
        width: 300px;
    }
}