.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ########### USER CONTAINER */
.user {
    font-size: 35px;
}


/* ######### FORM CONTAINER */
.form-control {
    width: 300px;
}

input {
    border: none;
    width: 300px;
}


/* ######### INFORMATION */
.title {
    font-weight: bold;
    font-size: 18px;
}

.info {
    width: 450px;
    height: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.info img {
    width: 20px;
    float: right;
    margin-right: 10px;
}