* {
    outline: red 0px dashed;
}

body {
    max-height: fit-content;
    padding: 15px;
}


/* ######### MAIN CONTAINER */
.group {
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 25px 0;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.195);
    margin-bottom: 10px;
    background-color: #eee;
    padding: 10px 20px;
}

.group:last-child {
    border: none;
}

.container img {
    float: left;
    width: 85px;
    height: 85px;
    margin-left: -50px;
    border-radius: 15px;
}

.container h1 {
    padding-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.info-container a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.info-container p {
    margin-bottom: -2px;
}


/* ########### TABLET */
@media screen and (min-width: 480px) {

}



/* ########### PC */
@media screen and (min-width: 960px) {

}